*{
    box-sizing: border-box;
}
nav{
    padding: 20px;
    text-align: center;
    background-color: gray;
}
nav input{
    width:25%;
    border-radius: 5px;
}
.card{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 1%;
    align-items: center;
    border-radius: 20px;
    border: solid black 1px;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
.href-categ{
    text-align: center;
    padding: 15px;
}
.href-categ a{
    text-decoration: none;
    color: black;
    
}
.card a{
    text-decoration: none;
    color: black;
}
.card-text-content{
    width: 25%;
    text-align: center;
}
.card-text-content-2{
    padding: 1%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    text-align: center;
}
.jobit{
    width: 20%;
    padding: 10px;
    font-size: 3em;
}
.job-contrat{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: flex-end;
}
.job-contrat,.h3-contrat,.lieu-contrat,.desc-contrat,.post-contrat{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}
.hr-contrat{
    width: 87%;    
    padding-right: 1%;
}
.img-contrat{
    width: 13%;
}
.a-base{
    text-decoration: none;
    color: black;
    width: 10%;
}
.poste-job{
    margin-left: 76%;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(195,195,195);
}
footer{
    padding: 20px;
    background-color: gray;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
footer a{
    text-decoration: none;
    color: black;
}
.btn{
    padding: 10px;
    background-color: rgb(0, 122, 204);
    border-radius: 10px;
}