<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}

            <link rel="stylesheet" href="{{ asset('css/style.css')}}">
            <link rel="stylesheet" href="{{ asset('css/normalize.css')}}">

        {% endblock %}

    </head>
    <body>
        <nav><input type="search" placeholder="https://www.job-it.com"></nav>
        <h1>JOB-IT</h1>
        <input type="search" name="" id="">
        {% block body %}
        {% endblock %}
    
        {% block javascripts %}{% endblock %}

    </body>
    {% block footer %}
        <footer>
            <a href="{{path('home')}}">A peropos</a>
            <a href="#">Job-IT-API</a>
            <a href="#">Partenaire particulier</a>
        </footer>
    {% endblock %}
</html>
